*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav-container{
    background-color: blue;
    width:100%;
    padding:10px;
    color:white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;

}
.logo{
    width:20%;
    color: white;
}
.input-container{
    width:60%;

    
}
.input-container input{
    width:50%;
    border-radius: 10px;
    border:none
}
.cart{
    width:20%
}
.menu-container{
    width:100%;
    background-color: rgb(111, 111, 174);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}
.items{
    color:white;
    font-weight: bold;
}
.product-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    padding: 40px;
}
.each-product-box{
    border:1px solid rgb(219, 215, 215);
    justify-content: center;
    text-align: center;
    box-shadow: 3rem;
}
.product-container img{
    width:250px;
    height:250px
}
.each-product-box button{
    margin:10px;
    padding:5px;
    color: white;
    font-weight: bold;
}
.product-detail-container{
    border:1px solid red;

text-align: center;
   
   
}
.single-product{
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
}
.single-product .text{
    position: relative;
    top:80px
}